<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="methods">
  <test thread-count="2" name="Test" parallel="methods">
  
 <!-- <parameter name="browser" value=""></parameter>-->
  
  
  
  
 <!-- <groups>
		  <define name="daily_build">
			    <include name="sanity"/>
		  		<include name="smoke"/>
		  </define>
		  <define name="weekly_build">
			    <include name="sanity"/>
		  		<include name="smoke"/>
		  		<include name="regression"/>
		  </define>
		  
		   <run>
		  		<include name="daily_build"/>
		  		<include name="weekly_build"/>
		  		
		   </run>
	  </groups>-->
    <classes>
    
     
     <!-- <class name="Testng.Axis.NewTest"/>
      <class name="Testng.Axis.Invokechrome"/>-->
      <class name="Testng.Axis.Onlyparallel"/>
     
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
